<div class="row">
    <div class="col-lg-5 vh-100 position-fixed" id="sticky-sidebar">
        <div class="sticky-top">
            <h1>ABIGetter</h1>
            <h5>Helping users to retrieve EVM powered Smart Contract ABIs</h5>
            <p>ABIGetter is a helper for EVM verified Smart Contracts. Users can retrieve verified Smart Contract ABI without the need to use Chain Scans and embed it directly into their development projects.</p>
            <p><a href="https://github.com/BellaBe/abi-getter" target="_blank" rel="noopener noreferrer"><i class="bi-github" style="font-size: 2rem; color:cornflowerblue;"></i> <span style="color: black;">View code</span></a></p>
        </div>
      
        
    </div>
    <div class="col-lg-7 vh-100 offset-5 bg-light" id="main">
        <div class="row p-3">
            <div class="col-lg-12 bg-white">
                 <form
                class="form-horizontal"
                role="form"
                id="getContractABIForm"
            >
                <input type="hidden" name="_csrf" value="{{csrf}}" />
                <div class="form-group">
                <label for="fieldChainName" class="col-sm-3 control-label">Chain name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="fieldChainName" name="chainName" required/>
                </div>
                </div>
                <div class="form-group">
                <label for="fieldContractAddress" class="col-sm-3 control-label">Contract address</label>
                <div class="col-sm-4">
                    <input
                    type="text"
                    class="form-control"
                    id="fieldContractAddress"
                    name="contractAddress"
                    required
                    />
                </div>
                </div>
                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary mb-2">Get ABI</button>
                </div>

                </div>
            </form>
            </div>
            
           
        </div>
        <div class="row p-3">
            <div class="col-lg-12 bg-white">
                <div id="getContractABIFormContainer">
           
                </div>
            </div>
           
        </div>
        
<script>
    document.getElementById("getContractABIForm").addEventListener('submit', e => {
        e.preventDefault()
        const container = document.getElementById('getContractABIFormContainer')
        container.innerHTML=""
       
        const form = e.target
         
        const body = JSON.stringify({
            _csrf: form.elements._csrf.value,
            chainName: form.elements.chainName.value,
            contractAddress: form.elements.contractAddress.value
        })
        
        const headers = {
            'Content-Type': 'application/json'
        }
        
        
        fetch('/abi', {
            method: 'post', body, headers
        }).then(res => {
            if(res.status < 200 || res.status > 300)
            throw new Error(`Request denied with status ${res.status}`)
            return res.json()
        }).then(json => {
            document.getElementById("getContractABIForm").reset()
            if(json.result) {
                container.innerHTML = `<div class="p-2"><div class="card h-100"><div class="card-body bg-light small">${json.data}</div></div></div>`
            } else{
                container.innerHTML = `<div class="p-2"><div class="card h-100"><div class="card-body bg-light small">${json.message}</div></div></div>`
            }
        }).catch(err => {
            console.log(err)
            container.innerHTML = `Sorry there was a problem, please try to reset</a>`
        })
    })
</script>
    </div>

</div>

